<%= form_for(@list) do |f| %>
  <% if @list.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@list.errors.count, "error") %> prohibited this list from being saved:</h2>

      <ul>
      <% @list.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :username %><br>
    <%= f.text_field :username %>
  </div>
   <div class="field">
       <%= f.label :email %><br>
       <%= f.email_field :email %>
  </div>
  <div class="field">
    <%= f.label :phone %><br>
      <%= f.phone_field :phone %>
  </div>
  <div class="field">
    <%= f.label :subscribe %><br>
    <%= f.check_box :subscribe %>
  </div>
  <div class="field">
    <%= f.label :gender %><br>
    <%= f.check_box :gender %>
  </div>
  <div class="field">
    <%= f.label :address %><br>
    <%= f.text_field :address %>
  </div>
  <div class="field">
    <%= f.label :city %><br>
    <%= f.text_field :city %>
  </div>
  <div class="field">
      <%= f.hidden_field :user_id %>
  </div>
  <div class="actions">
    <%= f.submit "Créer la nouvelle entrée" %>
  </div>
<% end %>
