<!DOCTYPE html>
<html>
<head>
  <title>PortFolio</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <header class="navbar navbar-default" role="navigation">
    <div class="navbar-inner">
      <div class="container">
        <div id="logo" class="navbar-brand">
          <%= link_to "Liste", root_path %>
        </div>
        <nav class="collapse navbar-collapse navbar-ex1-collapse">
              <% if user_signed_in? %>
                  <ul class="nav navbar-nav navbar-right">
                        <li>
                            <%= link_to "Nouvelle entrée", new_list_path %>
                        </li>

                        <li>
                            <%= link_to "Mon compte",  edit_user_registration_path %>
                        </li>
                        <li>
                            <%= link_to "Deconnexion",  destroy_user_session_path, :method => :delete %>
                        </li>
                      </ul>
              <% else %>
                        <ul class="nav navbar-nav pull-right">
                          <li>
                              <%= link_to "S'inscrire",  new_user_registration_path %>
                          </li>
                          <li>
                              <%= link_to "Connexion",  new_user_session_path %>
                          </li>
                        </ul>
              <% end %>
            </nav>
        </div>
      </div>
  </header>

<div id="find my mechanics in application_helper  _B.s._" class="message"> <%= flash_messages %></div>

<div class="container"><%= yield %></div>

</body>
</html>
